<template>
  <form
    class="create-twoot-panel"
    @submit.prevent="createNewTwoot"
    :class="{ '--exceeded': newTwootCreateCount > 180 }"
  >
    <label for="newTwoot"
      ><strong>新嘟文</strong>({{ newTwootCharacterCount }}/180)</label
    >
    <textarea id="newTwoot" rows="4" v-model="state.newTwootContent" />

    <div class="create-twoot-panel__submit">
      <div class="create-twoot-type">
        <label for="newTwootType"><strong>类型:</strong></label>
        <select id="newTwootType" v-model="state.selectedTwootType">
          <option
            v-for="(option, index) in state.twootTypes"
            :key="index"
            :value="option.v"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
      <button>发送</button>
    </div>
  </form>
</template>

<script>
import { reactive, computed } from "vue";

export default {
  name: "CreateTwootPanel",
  setup(props, ctx) {
    const state = reactive({
      newTwootContent: "",
      selectedTwootType: "instant",
      twootTypes: [
        { v: "draft", name: "草稿" },
        { v: "instant", name: "新嘟文" },
      ],
    });

    const newTwootCharacterCount = computed(() => state.newTwootContent.length);

    function createNewTwoot() {
      if (state.newTwootContent && state.selectedTwootType !== "draft") {
        ctx.emit("add-twoot", state.newTwootContent);
        state.newTwootContent = "";
      }
    }

    return {
      state,
      newTwootCharacterCount,
      createNewTwoot,
    };
  },
};
</script>

<style lang="scss" scoped>
.create-twoot-panel {
  margin-top: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;

  textarea {
    border: 1px solid #dfe3e8;
    border-radius: 5px;
  }

  .create-twoot-panel__submit {
    display: flex;
    justify-content: space-between;
  }

  .create-twoot-type {
    padding: 10px 0;
  }

  button {
    padding: 5px 20px;
    margin: auto 0;
    border-radius: 5px;
    border: none;
    background-color: #228be6;
    color: white;
    font-weight: bold;
  }

  &.--exceeded {
    color: red;
    border-color: red;

    button {
      background-color: rgb(230, 58, 58);
      border: none;
      color: white;
    }
  }
}
</style>
