<template>
  <div id="app">
    <nav class="navigation">
      <span class="navigation__logo">
        Mostodon
      </span>
      <span class="navigation__user"> 你好，{{ state.user.username }} </span>
    </nav>
    <router-view />
  </div>
</template>

<script>
import { reactive } from "vue";
export default {
  name: "App",
  setup() {
    const state = reactive({
      user: {
        username: "仇建伟",
      },
    });

    return { state };
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #2c3e50;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.navigation {
  background-color: #228be6;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 70px;
}

.navigation__logo {
  font-size: 24px;
  font-weight: bolder;
}
</style>
